# Merge KOI and TOI datasets

In [1]:
import pandas as pd

In [2]:
koi_df = pd.read_csv('../data/processed/1_filtered_koi_data.csv', sep=';')
koi_df.head(3)

,STATUS,ORBITAL_PERIOD_DAYS,TRANSIT_DURATION_HOURS,TRANSIT_DEPTH_PPM,PLANET_RADIUS_REARTH,PLANET_INSOLATION_EFLUX,PLANET_EQ_TEMP_K,STELLAR_TEFF_K,STELLAR_LOGG_CMS2,STELLAR_RADIUS_RSUN
0,CONFIRMED,9.488036,2.9575,615.8,2.26,93.59,793.0,5455.0,4.467,0.927
1,CONFIRMED,54.418383,4.5070,874.8,2.83,9.11,443.0,5455.0,4.467,0.927
2,CANDIDATE,19.899140,1.7822,10829.0,14.60,39.30,638.0,5853.0,4.544,0.868

In [3]:
toi_df = pd.read_csv('../data/processed/1_filtered_toi_data.csv', sep=';')
toi_df.head(3)

,STATUS,ORBITAL_PERIOD_DAYS,TRANSIT_DURATION_HOURS,TRANSIT_DEPTH_PPM,PLANET_RADIUS_REARTH,PLANET_INSOLATION_EFLUX,PLANET_EQ_TEMP_K,STELLAR_TEFF_K,STELLAR_LOGG_CMS2,STELLAR_RADIUS_RSUN
0,FP,2.171348,2.01722,656.886099,5.818163,22601.948581,3127.204052,10249.0,4.19,2.16986
1,PC,1.931646,3.16600,1286.000000,11.215400,44464.500000,4045.000000,7070.0,4.03,2.01000
2,FP,1.867557,1.40800,1500.000000,23.752900,2860.610000,2037.000000,8924.0,NaN,5.73000

In [4]:
df = pd.concat([koi_df, toi_df], ignore_index=True)
df.head(3)

,STATUS,ORBITAL_PERIOD_DAYS,TRANSIT_DURATION_HOURS,TRANSIT_DEPTH_PPM,PLANET_RADIUS_REARTH,PLANET_INSOLATION_EFLUX,PLANET_EQ_TEMP_K,STELLAR_TEFF_K,STELLAR_LOGG_CMS2,STELLAR_RADIUS_RSUN
0,CONFIRMED,9.488036,2.9575,615.8,2.26,93.59,793.0,5455.0,4.467,0.927
1,CONFIRMED,54.418383,4.5070,874.8,2.83,9.11,443.0,5455.0,4.467,0.927
2,CANDIDATE,19.899140,1.7822,10829.0,14.60,39.30,638.0,5853.0,4.544,0.868

In [5]:
df.to_csv('../data/processed/1.1_merged_data.csv', sep=';', index=False)