# Filter TOI Data

In [9]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [10]:
raw_df = pd.read_csv('../data/raw/TOI (TESS)/tess_object_of_interest.csv', sep=',')
raw_df.head(3)

,toi,tid,tfopwg_disp,rastr,ra,decstr,dec,st_pmra,st_pmraerr1,st_pmraerr2,st_pmralim,st_pmdec,st_pmdecerr1,st_pmdecerr2,st_pmdeclim,pl_tranmid,pl_tranmiderr1,pl_tranmiderr2,pl_tranmidlim,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,pl_trandurh,pl_trandurherr1,pl_trandurherr2,pl_trandurhlim,pl_trandep,pl_trandeperr1,pl_trandeperr2,pl_trandeplim,pl_rade,pl_radeerr1,pl_radeerr2,pl_radelim,pl_insol,pl_insolerr1,pl_insolerr2,pl_insollim,pl_eqt,pl_eqterr1,pl_eqterr2,pl_eqtlim,st_tmag,st_tmagerr1,st_tmagerr2,st_tmaglim,st_dist,st_disterr1,st_disterr2,st_distlim,st_teff,st_tefferr1,st_tefferr2,st_tefflim,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim,toi_created,rowupdate
0,1000.01,50365310,FP,07h29m25.85s,112.357708,-12d41m45.46s,-12.695960,-5.964,0.085,-0.085,0.0,-0.076,0.072,-0.072,0.0,2.459230e+06,0.001657,-0.001657,0,2.171348,0.000264,-0.000264,0,2.01722,0.319588,-0.319588,0,656.886099,37.77821,-37.77821,0,5.818163,1.910546,-1.910546,0,22601.948581,NaN,NaN,NaN,3127.204052,NaN,NaN,NaN,9.604000,0.013,-0.013,0,485.735,11.9515,-11.9515,0,10249.0,264.7,-264.7,0,4.19,0.07,-0.07,0,2.16986,0.072573,-0.072573,0,2019-07-24 15:58:33,2024-09-09 10:08:01
1,1001.01,88863718,PC,08h10m19.31s,122.580465,-05d30m49.87s,-5.513852,-4.956,0.102,-0.102,0.0,-15.555,0.072,-0.072,0.0,2.459988e+06,0.001916,-0.001916,0,1.931646,0.000005,-0.000005,0,3.16600,0.647000,-0.647000,0,1286.000000,1186.49000,-1186.49000,0,11.215400,2.624200,-2.624200,0,44464.500000,NaN,NaN,NaN,4045.000000,NaN,NaN,NaN,9.423440,0.006,-0.006,0,295.862,5.9100,-5.9100,0,7070.0,126.4,-126.4,0,4.03,0.09,-0.09,0,2.01000,0.090000,-0.090000,0,2019-07-24 15:58:33,2023-04-03 14:31:04
2,1002.01,124709665,FP,06h58m54.47s,104.726966,-10d34m49.64s,-10.580455,-1.462,0.206,-0.206,0.0,-2.249,0.206,-0.206,0.0,2.459225e+06,0.000625,-0.000625,0,1.867557,0.000003,-0.000003,0,1.40800,0.184000,-0.184000,0,1500.000000,1.75840,-1.75840,0,23.752900,NaN,NaN,0,2860.610000,NaN,NaN,NaN,2037.000000,NaN,NaN,NaN,9.299501,0.058,-0.058,0,943.109,106.3330,-106.3330,0,8924.0,124.0,-124.0,0,NaN,NaN,NaN,0,5.73000,NaN,NaN,0,2019-07-24 15:58:33,2022-07-11 16:02:02

In [11]:
useful_columns = [
    'tfopwg_disp',     
    'pl_orbper',       
    'pl_trandurh',     
    'pl_trandep',      
    'pl_rade',         
    'pl_insol',        
    'pl_eqt',          
    'st_teff',         
    'st_logg',         
    'st_rad'           
]

df = raw_df[useful_columns].copy()

df.head()

,tfopwg_disp,pl_orbper,pl_trandurh,pl_trandep,pl_rade,pl_insol,pl_eqt,st_teff,st_logg,st_rad
0,FP,2.171348,2.01722,656.886099,5.818163,22601.948581,3127.204052,10249.0,4.19,2.16986
1,PC,1.931646,3.16600,1286.000000,11.215400,44464.500000,4045.000000,7070.0,4.03,2.01000
2,FP,1.867557,1.40800,1500.000000,23.752900,2860.610000,2037.000000,8924.0,NaN,5.73000
3,FP,2.743230,3.16700,383.410000,NaN,1177.360000,1631.000000,5388.5,4.15,NaN
4,FP,3.573014,3.37000,755.000000,11.311300,54679.300000,4260.000000,9219.0,4.14,2.15000

In [12]:
print('Size: ', df.shape, '\nColumns:', df.columns)

Size:  (7703, 10)
Columns: Index(['tfopwg_disp', 'pl_orbper', 'pl_trandurh', 'pl_trandep', 'pl_rade',
       'pl_insol', 'pl_eqt', 'st_teff', 'st_logg', 'st_rad'],
      dtype='object')

In [13]:
new_columns_name = {
    'tfopwg_disp': 'STATUS',
    'pl_orbper': 'ORBITAL_PERIOD_DAYS',
    'pl_trandurh': 'TRANSIT_DURATION_HOURS',
    'pl_trandep': 'TRANSIT_DEPTH_PPM',
    'pl_rade': 'PLANET_RADIUS_REARTH',
    'pl_insol': 'PLANET_INSOLATION_EFLUX',
    'pl_eqt': 'PLANET_EQ_TEMP_K',
    'st_teff': 'STELLAR_TEFF_K',
    'st_logg': 'STELLAR_LOGG_CMS2',
    'st_rad': 'STELLAR_RADIUS_RSUN',
}

df = df.rename(columns=new_columns_name)
df

,STATUS,ORBITAL_PERIOD_DAYS,TRANSIT_DURATION_HOURS,TRANSIT_DEPTH_PPM,PLANET_RADIUS_REARTH,PLANET_INSOLATION_EFLUX,PLANET_EQ_TEMP_K,STELLAR_TEFF_K,STELLAR_LOGG_CMS2,STELLAR_RADIUS_RSUN
0,FP,2.171348,2.017220,656.886099,5.818163,22601.948581,3127.204052,10249.0,4.19,2.169860
1,PC,1.931646,3.166000,1286.000000,11.215400,44464.500000,4045.000000,7070.0,4.03,2.010000
2,FP,1.867557,1.408000,1500.000000,23.752900,2860.610000,2037.000000,8924.0,NaN,5.730000
3,FP,2.743230,3.167000,383.410000,NaN,1177.360000,1631.000000,5388.5,4.15,NaN
4,FP,3.573014,3.370000,755.000000,11.311300,54679.300000,4260.000000,9219.0,4.14,2.150000
...,...,...,...,...,...,...,...,...,...,...
7698,FP,3.443800,2.572000,7260.750000,NaN,1413.670000,1708.000000,4805.2,NaN,NaN
7699,FP,14.537800,6.826000,4040.000000,16.052300,NaN,NaN,8007.0,NaN,2.050000
7700,FP,8.413486,3.556833,17479.605331,20.510696,127.916421,857.731431,5786.0,4.52,0.926261
7701,FP,0.941436,1.360700,339.912662,4.529209,41562.587811,3641.626449,8322.0,4.01,2.349860
7702,FP,1.507896,2.759000,1839.000000,5.530910,9662.800000,2762.000000,6635.0,4.35,1.300000

In [14]:
pd.DataFrame(df.dtypes, columns=['dtype'])

                           dtype
STATUS                    object
ORBITAL_PERIOD_DAYS      float64
TRANSIT_DURATION_HOURS   float64
TRANSIT_DEPTH_PPM        float64
PLANET_RADIUS_REARTH     float64
PLANET_INSOLATION_EFLUX  float64
PLANET_EQ_TEMP_K         float64
STELLAR_TEFF_K           float64
STELLAR_LOGG_CMS2        float64
STELLAR_RADIUS_RSUN      float64

In [15]:
df.isna().sum()

STATUS                       0
ORBITAL_PERIOD_DAYS        107
TRANSIT_DURATION_HOURS       0
TRANSIT_DEPTH_PPM            0
PLANET_RADIUS_REARTH       506
PLANET_INSOLATION_EFLUX    176
PLANET_EQ_TEMP_K           311
STELLAR_TEFF_K             161
STELLAR_LOGG_CMS2          856
STELLAR_RADIUS_RSUN        507
dtype: int64

In [16]:
df.to_csv('../data/processed/1_filtered_toi_data.csv', index=False, sep=';')